{{#each siteMapData}}
    <li class="sitemap-item {{#if disabled }}disabled{{/if}}" data-item="category" data-slug="{{slug}}" data-groups="{{groups}}" data-name="{{name}}">
        <div style="margin-left:10px" class="parentblock">
            <span class="expandSection"></span>
            <span class="siteMapTitle">{{name}}</span>     
        </div>

        <ul class="category" id="{{slug}}" style="display: none;">
            {{#each children}}
                {{> render-sections }}
            {{else}}
                {{#each playlists}}
                    {{> render-playlists }}
                {{/each}}
            {{/each}}
        </ul>
    </li>
{{/each}}