<div class='drop_pin' style='top:{{top}}; left:{{left}};' {{#if id}}pin-id={{id}}{{/if}}>
    <div class='pin-opener'><span>{{order}}</span></div>
    <div class='pin-tooltip'>
        <span class='arrow'></span>
        <div class='close'></div>
        <div class="pin-block">
	        <h1 target='title'>{{title}}</h1>
	        <p target='body'>{{{body}}}</p>
	    </div>
    </div>
</div>