<li data-item="playlist" class="{{#if disabled }}disabled{{/if}}" data-slug="{{playlist_id}}"
data-groups="{{groups}}" data-name="{{name}}">
    <div style="margin-left:10px" class="parentblock">
        <span class="playlistIcon"></span>
        <span class="siteMapTitle">{{name}}</span>
    </div>
    <ul class="playlist" id="{{../slug}}_{{playlist_id}}">
        {{#each demos }}
            <li class="{{#if disabled }}disabled{{/if}}" data-item="chapter" 
            data-slug="{{this.slug}}" data-groups="{{this.groups}}" 
            data-id="{{this.walkthrough_id}}" data-name="{{this.name}}">
                <div style="margin-left:10px" class="parentblock">
                    <span class="demoIcon"></span>
                    <span class="siteMapTitle">{{name}}</span>
                <input id="tree-{{slug}}" slug-id="{{slug}}" type="checkbox" class="css-checkbox">
                <label for="tree-{{slug}}" class="css-label"></label>
                </div>
                <ul class="demo" id="{{../../slug}}_{{slug}}"></ul>
            </li>
        {{/each}}
    </ul>
</li>