<div id="{{video_id}}" class="video-block row">
    <iframe src="{{video_src}}" class="col-md-6" name="video" poster={{video_poster}}></iframe>
    <div class="col-md-6">
        <div class='video-title'>{{video_title}}</div>
        <div class="capital-letter delete-video" rel="{{video_id}}">{{i18n 'delete'}}</div>
    </div>
</div>