{{#each this}}
    <div class="playlists {{#if @first}} active {{/if}}" data-category="{{this.name}}">
        {{#each playlists}}

            {{#compare @index '>' 2}}
                {{#compare (math @index '%' 3) '==' 0}}
                    </div>
                    <div class="row">
                {{/compare}}
            {{/compare}}
            {{#if @first}}
                <div class="row">
            {{/if}}

            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="help-category-block">
                    <h1 class="playlist-title">{{this.name}}</h1>
                    {{#each demos}}
                        <a href="/t/{{../../slug}}/{{this.slug}}" class="playerframe-link"
                           data-product-id="{{../../slug}}" data-section-id="{{../../slug}}"
                           data-chapter-id="{{this.slug}}"
                        >{{this.name}}</a>
                    {{/each}}
                </div>
            </div>

            {{#if @last}}
                </div>
            {{/if}}
        {{/each}}
    </div>
{{/each}}