<li class="cta-data" data-title="{{name}}" data-link="{{link}}" data-id="{{cta_id}}">
	<div class="cta-title">{{name}}</div>
	<div class="cta-link">{{link}}</div>
	<div class="remove-cta">remove CTA</div>
</li>