<div class="search-result-wrapper">
	<div class="container">
		<div class="search-content-list row">
			{{#compare query.length ">" 1}}
				<div class="search-header">
					<p class="search-result-count">{{results.length}} search result{{#compare results.length ">" 1}}s{{/compare}} for <b>{{query}}</b></p>
				</div>
			{{/compare}}
			<div class="row searched-demos">
			{{#each results }}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 demo">
				<div class="thumbnail-cover">
					<a href="{{ link }}" target= "_blank">
						<img class="thumbnail" src="{{imageUrl}}"/>
						<div class="thumbnail-footer">
							<h4>{{ title }}</h4>
						</div>
					</a>
				</div>
			</div>
			{{/each}}
			</div>
		</div>
		<div class="scroll-to-top"></div>
	</div>
</div>