<div class="popup-box delete-repository-popup">
    <div class="popup-title capital-letter">
            Delete Integration
    </div>
    <div class="popup-info sub-title text-center">
        <p>You've made some cool stuff!</p></br>
        <p>Are you sure you want to delete this Integration?'</p>
    </div>
        <div class="popup-footer">
        <div class="form-footer">
            <div class="cancel rippleEffect capital-letter">{{i18n 'cancel'}}</div>
            <div class="delete rippleEffect capital-letter">{{i18n 'delete'}}</div>
        </div>
        <div class="form-failed capital-letter failed">
            {{i18n 'oops! your submission was not sent'}}
        </div>
        <div class="form-sent capital-letter added">
            {{i18n 'deleted successfully!'}}
        </div>
        <div class="form-sending capital-letter adding">
            {{i18n 'deleting'}}...
            <div class="cd-loading"></div>
        </div>
    </div>
</div>