{{# compare playlist.is_enabled '||' is_author }}
    <div class="playlist-block{{#unless playlist.is_enabled}} disabled{{/unless}} col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 grid_playlist_view">
        <div class="playlist-left" {{#if playlist.playlist_id}}playlist_id="{{playlist.playlist_id}}"{{/if}}>
            {{#unless is_author}}
                {{#if playlist.translations_available}}
                <div class="translation_available" data-toggle="tooltip" data-placement="left" title="{{i18n 'Translations Available'}}"></div>
                {{/if}}
            {{/unless}}
            <h3><span>{{playlist.name}}</span></h3>
            <p><span class="grd-playlist-desc">{{playlist.description}}</span></p>
            <ul class="pwt-list playlist-right sortable" {{#if playlist.playlist_id}}playlist_id="{{playlist.playlist_id}}"{{/if}}>
                {{#each playlist.walkthroughs}}
                    {{# compare is_enabled '||' ../is_author }}
                        <li slug='{{slug}}'  id='{{slug}}' {{#unless is_enabled}}class='disabled'{{/unless}}>
                            <div class="read">
                                <div class="circle">{{math @index "+" 1}}</div>
                                <div class="playlist-loader">
                                    <div class="playlist-loader-bg"></div>        
                                    <div class="spiner-holder-1 animate-0-25-a">
                                        <div class="spiner-holder-2 animate-0-25-b">
                                            <div class="playlist-loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-1 animate-25-50-a">
                                        <div class="spiner-holder-2 animate-25-50-b">
                                            <div class="playlist-loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-1 animate-50-75-a">
                                        <div class="spiner-holder-2 animate-50-75-b">
                                            <div class="playlist-loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-1 animate-75-100-a">
                                        <div class="spiner-holder-2 animate-75-100-b">
                                            <div class="playlist-loader-spiner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <div>{{name}}
                                    {{#if ../is_author}}
                                        <span class="wt-draft">{{i18n 'draft'}}</span>
                                        {{#if published}}
                                        {{#if is_enabled}}
                                        <span class="wt-live">{{i18n 'live'}}</span>
                                        {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                            {{#compare tags.length ">" 0}}
                                <div class="playlist-tags">
                                    {{#each tags}}
                                        <span class="sd-label theme-bg-color tags-span">{{this}}</span>
                                    {{/each}}
                                </div>
                            {{/compare}}
                        </li>
                    {{/compare}}
                {{/each}}
            </ul>
        </div>

    </div>
{{/compare}}