<div id="section-container" class="page-container newtemp">
	<div class="overlay">
		<div class="sign-up-wrap"></div>
	</div>
	<div class="pwt-section">
		<div class="fs-banner theme-bg-color row">
			<div class="section-pwt-list col-sm-12">
				<div class="col-sm-2">
					<div class="section-pwt-menu" slug='{{parent.slug}}'>
						<span class="hidden-xs hidden-sm"></span>
					</div>
				</div>	
				<div class="col-sm-8">
					<div class="section-pwt-title theme-title-color">{{ name }}</div>
					<div class="section-pwt-description theme-paragraph-color">{{description}}</div>
					{{#each cta_list}}
						<div class="sign-up">
							{{#compare type "==" 'form'}}
							<button class="sign-up-btn" data-cta-id="{{cta_id}}">{{text}}</button>
						    {{/compare}}
							{{#compare type "==" 'link'}}
							<a class="cta-link" href="{{href}}" data-cta-id="{{cta_id}}" target="_blank">{{text}}</a>
						    {{/compare}}
						    {{#compare type "==" 'pdf'}}
							<a class="cta-link" href="{{file_path}}" data-cta-id="{{cta_id}}" target="_blank">{{text}}</a>
						    {{/compare}}
						</div>
					{{/each}}
				</div>
				<div class="col-sm-2 play-video-button">
					{{#if videos}}
						<div class="watch-videos capital-letter" target="#video-slider-block">{{i18n 'play video'}}</div>
					{{/if}}
				</div>
				{{#if videos}}
				<div class="section-video-popup">
					<div class="hide-video-popup"></div>
					<div class="section-video">
						<div id="video-slider-block">
							<div class="video-slider">
								<ul>
									{{#each videos}}
									<li>
										<div class="video-link" data-video-link="{{link}}">
											<img src="{{poster_image}}" style="width:100%" >
										</div>										
										<iframe class="popup-video" width="480" height="270"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</li>
									{{/each}}
								</ul>
							</div>		
						</div>		
 					</div>
 				</div>
				{{/if}}
				{{#if related_products}}
					<div class="related-products">
						<div class='related-products-heading'>Related Links:</div>
						{{#each related_products}}
						<div class="related-products-list" product='{{product}}' section='{{section}}'>
							{{name}}
						</div>
						{{/each}}
					</div>
				{{/if}}
			</div>
			{{#if tenant_privacy_link}} 
				<a class="privacy camel-case" href="{{tenant_privacy_link}}" target="_blank">{{i18n 'privacy policy'}}</a>
			{{/if}}	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="section-pwt-list right_section newtemp-bg-color">\</div>
			</div>
		</div>
	</div>
</div>
