<li class="sortableListsClosed {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}" data-item="section" data-slug="{{slug}}">
                            
    <div style="margin-left:10px" class="parentblock {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}">

        <span class="expandSection {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}"></span>

        <span class="siteMapTitle {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}">{{name}}</span>

        {{#unless is_asset}}
        <span class="section-demo-count item-count {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}">
            {{demos_count}} Demo{{#compare demos_count ">" '1'}}s{{/compare}},
        </span>

        <span class="section-slide-count item-count {{#unless editable}}undraggable{{/unless}} {{#if is_asset}}asset-linked{{/if}}">
            {{slides_count}} Slide{{#compare slides_count ">" '1'}}s{{/compare}}
        </span>
        {{/unless}}

        {{#if editable}}
            <span class="hide remove-element click-btn undraggable" title="Delete Item"></span>
            {{#unless is_asset}}
                <span class="hide lib-cat-launch">
                    <a slug-id="{{slug}}" class="ripple launch-btn click-btn undraggable" target="_blank">
                        <span class="click-btn undraggable">launch</span>
                    </a>
                </span>
            {{/unless}}
        {{/if}}

    </div>
    <ul class="section" id="{{slug}}" style="display: none;">
        {{#if editable}}
            {{#unless is_asset}}
                {{#each children}}
                    {{> render_sections }}
                {{else}}
                    {{#each playlists}}
                        {{> render_playlists }}
                    {{/each}}
                {{/each}}
            {{/unless}}
        {{/if}}
    </ul>
</li>