<div class="demo">
    <div>
        <h1>{{ name }}</h1>
        <p>{{ breadcrumb }}</p>
    </div>
    <input id="ch-{{ slug }}" value="{{ slug }}" type="checkbox" class='css-checkbox' {{#if checked}} checked {{/if}}>
    <label for="ch-{{ slug }}" class="css-label"></label>
</div>