<div class="checklist_section" data-id={{checklist_section.checklist_section_id}} id="section_{{checklist_section.checklist_section_id}}">
	<div class="steps_title" {{# unless is_edit}}data-title="{{checklist_section.title}}{{/unless}}">
		<span class="index">{{index}}</span>
		<span class="title">{{checklist_section.title}}</span>
	</div>
	{{# unless is_edit}}
	{{/unless}}
</div>