{{# each samples}}
    <a href="/sample-exchange/{{ id }}" target="_blank">
    <div class="sample_preview">
        <div class="sample-details">
            <h3 class="title">{{ name }}</h3>
            <p class="author">{{ i18n 'published by'}}: {{ author.fullName }}</p>
            <div class="tag-holder">
                {{# each tags}}
                        {{# if name }}
                            <div class="tag">{{ name }}</div>
                        {{/if}}
                {{/each}}
            </div>
            <div class="statistics">
                <div class="downloads">
                    <img src="/static/images/vmware/downloads.png"/>
                        {{ i18n 'downloads'}} {{ downloadCount }}
                 </div>
                 <div class="created">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    {{ i18n 'created'}} {{ createdAt }}
                </div>
                <div class="updated">
                    <img src="/static/images/vmware/updated.png"/>
                        {{ i18n 'updated'}} {{ recentlyUpdated }}
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="download" data-id="{{ id }}" data-name="{{ name }}" data-url="{{ downloadUrl }}">{{ i18n 'download'}}</div>
        </div>
    </div>
    </a>
{{/each}}